/results/
/wandb/
__pycache__/
/inference/
/stored_inference/
*.pyc
*.log
*.tmp
--data-path
--max_gen_len
--model
--nnodes=1
--nproc_per_node=2
--num-classes
--resume-ckpt
--resume-epoch
--resume-step
--use-wandb
--wandb-name
--wandb-project
training_log.txt
sample.png